@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&family=Alumni+Sans:wght@600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/*variables para reutilizar*/
/*mixin SASS*/
/* botones con map*/
body {
  background-image: url("../assets/img/fondo.svg"); }

/*importo una hoja de estilo con sass*/
.seccionStars {
  background: #7eb6c5;
  /* Map aplicado en los botones*/ }
  .seccionStars .navStars {
    background-color: #228585; }
    .seccionStars .navStars .estiloStar .icono {
      width: 50px;
      height: 50px; }
    .seccionStars .navStars .estiloStar .secciones .nav-link {
      color: #beb618; }
  .seccionStars .divStars {
    border: 1px solid #193e8e;
    justify-items: center; }
    .seccionStars .divStars h2 {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      text-align: center;
      font-size: 2rem;
      font-style: normal; }
      .seccionStars .divStars h2:hover {
        font-style: italic; }
    .seccionStars .divStars p {
      font-size: medium; }
      .seccionStars .divStars p:hover {
        color: #922626; }
  .seccionStars div, .seccionStars section.prod .col, section.prod .seccionStars .col {
    text-align: center;
    padding: 2%; }
    .seccionStars div iframe, .seccionStars section.prod .col iframe, section.prod .seccionStars .col iframe {
      width: 50vw;
      height: 80vh; }
  .seccionStars .votacion {
    justify-content: center; }
    .seccionStars .votacion .btn {
      display: inline-block;
      padding: .5em;
      background: #ccc;
      color: #666; }
      .seccionStars .votacion .btn--error {
        background-color: #dd3535;
        color: #666; }
      .seccionStars .votacion .btn--success {
        background-color: #5dd055;
        color: #fff; }
      .seccionStars .votacion .btn--warning {
        background-color: #e1a449;
        color: #695757; }

/* Importacion de tipografia */
@font-face {
  font-family: 'Alumni Sans Pinstripe', sans-serif;
  src: url("../assets/font/AlumniSansPinstripe.ttf"); }

h1 {
  font-family: 'Alumni Sans Pinstripe', sans-serif;
  font-size: 4.2rem;
  color: #ae2626;
  text-align: center;
  padding-top: 2%;
  animation-duration: 2s;
  animation-name: aparecer;
  animation-iteration-count: initial; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

h4 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2rem;
  color: black;
  text-align: center;
  /*Estilos para la animación*/
  margin: 0 0.5rem;
  animation-duration: 5s;
  /* don't forget to set a duration! */ }

.secciones {
  color: antiquewhite;
  text-decoration: none; }

.colorNavbar {
  background: #c7675e; }

a {
  text-decoration: none;
  color: #ee9323; }

.boxImagenes {
  padding-top: 2%;
  padding-bottom: 3%;
  text-align: center; }

section.textoInicial {
  transition: 2s; }
  section.textoInicial:hover {
    background-color: #e39c44; }

.imagenesCentro {
  padding: 5px;
  width: 30vw;
  height: 40vh; }
  .imagenesCentro:hover {
    transform: skew(5deg); }

.textoInicial {
  border: dashed 1px black;
  /* aplicar borde : estilo, grosor y color */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /*Otra tipografia/font */
  font-size: 1rem;
  /* tamaño de letra */
  overflow: hidden;
  /* ocultar excedente dado por el espacio que ocupa el contenido*/
  width: 100vw;
  /* ancho de tu div */
  display: flex;
  align-items: center;
  justify-content: center; }

p {
  text-align: center; }

.linea {
  margin-top: 2rem;
  padding: 1.5rem;
  border-top: solid 0.5px black;
  text-align: center; }

.textoFooter {
  display: inline;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  padding-top: 2rem; }

.iconoRedes {
  width: 22px;
  height: 22px; }

.texto {
  font-size: 1rem;
  padding: 5%;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

.estiloVideo {
  border: groove 1px white;
  padding: 3rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center; }
  .estiloVideo .video {
    width: 30vw;
    height: 32vh; }
  .estiloVideo .textoLateral {
    width: 30vw;
    margin: 3rem;
    font-size: 1.2rem;
    display: flex;
    flex-wrap: nowrap;
    border: dashed 1px black; }
  .estiloVideo a.stars {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    align-content: center;
    color: #224085;
    background-color: #14dc8f;
    border-radius: 15px; }
    .estiloVideo a.stars:hover {
      color: #0000ff; }

table {
  border: 2px solid black;
  text-align: center; }

.imagenesTestimonios {
  width: 15vw;
  padding: 5%;
  height: 22vh; }

.tablasCentradas {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 4%; }

.elementoCentrado {
  text-align: center; }

.imagenenMediana {
  width: 400vw;
  height: 300vh;
  text-align: center; }

.imagenesProductos {
  width: 100vw;
  padding: 15px 50px 5px 50px;
  height: 100vh; }

.listaDesordenada {
  list-style: square inside; }

.listaGroup {
  width: 50%;
  padding: 5%; }

.imgCentro {
  width: 30%;
  height: 25%;
  display: flexbox; }

.col {
  float: left;
  padding: 10px; }
  .col img {
    margin: 2%; }

/*div centrado para usar extend*/
div, section.prod .col {
  text-align: center;
  align-items: center;
  justify-content: center; }

section.prod {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center; }

@media only screen and (min-width: 0px) and (max-width: 576px) {
  th {
    display: flex;
    flex-wrap: wrap; }
  td {
    display: flex;
    flex-wrap: wrap; }
  .tablasCentradas {
    display: flex;
    flex-wrap: wrap; }
  .imagenesTestimonios {
    width: 28vw;
    height: 15vh; }
  .listMobile {
    display: flex;
    flex-wrap: nowrap; }
  .estiloVideo {
    text-align: center;
    border: groove 0.5px white;
    padding: 3rem;
    margin: 5rem;
    display: flex;
    flex-wrap: wrap; }
    .estiloVideo .video {
      width: 50vw;
      height: 20vh; }
    .estiloVideo .textoLateral {
      font-size: 1.2rem;
      display: flex;
      flex-wrap: nowrap; }
    .estiloVideo a.stars {
      font-size: 2rem;
      align-content: center;
      color: #224085;
      background-color: #14dc8f;
      border-radius: 15px; }
  .formCentrado {
    display: flex;
    flex-wrap: wrap; }
  .imgCentro {
    width: 75%;
    height: 75%;
    margin: 5%;
    padding: 5rem; }
  .listaGroup {
    width: 100%; }
  .texto {
    text-align: center;
    width: auto; }
  section.prod {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center; } }

@media only screen and (min-width: 576px) and (max-width: 768px) {
  th {
    display: flex;
    flex-wrap: wrap; }
  td {
    display: flex;
    flex-wrap: wrap; }
  .tablasCentradas {
    display: flex;
    flex-wrap: wrap; }
  .imagenesTestimonios {
    width: 28vw;
    height: 15vh; }
  .listMobile {
    display: flex;
    flex-wrap: nowrap; }
  .estiloVideo {
    text-align: center;
    border: groove 0.5px white;
    padding: 3rem;
    margin: 5rem;
    display: flexbox;
    flex-wrap: wrap; }
    .estiloVideo .video {
      width: 50vw;
      height: 20vh; }
    .estiloVideo .textoLateral {
      font-size: 1.2rem; }
    .estiloVideo a.stars {
      font-size: 2rem;
      align-content: center;
      color: #224085;
      background-color: #14dc8f;
      border-radius: 15px; }
  .formCentrado {
    display: flex;
    flex-wrap: wrap; }
  .imgCentro {
    width: 75%;
    height: 75%; }
  .listaGroup {
    width: 75%; }
  .imgTablas {
    width: 50%; }
  .texto {
    text-align: center;
    width: auto; }
  .listaGroup {
    width: 75%; }
  .col {
    float: none;
    padding: 10px; }
  .col img {
    margin: 2%; }
  section.prod {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: repeat(4 1fr);
    gap: 5px;
    grid-template-areas: "col col" "col col";
    justify-content: center;
    align-items: center; } }
