/*div centrado para usar extend*/
.prod{
  margin: 1rem;
  .productos1{
    @include flex-wrap;
    justify-content: center;
    .col{
      align-items: center;
      justify-content: center;
      text-align: center;
      margin: .5rem;
      img{
        width: 8vw;
        height: auto;
      }
      p{
        text-align: center;
      }
    }
  }
  .productos2{
    @include flex-wrap;
    justify-content: center;
    .col{
      margin: .5rem;
      text-align: center;
      align-items: center;
      justify-content: center;
      img{
        width: 8vw;
        height: auto;
      }
      p{
        text-align: center;
      }
    }
  }
}
.listaGroup{
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  margin: 2rem;
  width: 50vw;
}