.seccionStars{
  background: $fondo_color;
  .navStars{
    background-color: $colornav_stars;
    .estiloStar{
      .icono{
        width: 50px;
        height: 50px;
      }
      .secciones{
        .nav-link{
          color: #beb618;
        }
      }
    }
  }
  .divStars{
    border:  1px solid #193e8e;
    justify-items: center;
    h2{
      font-family: $font_verdana;
      text-align: center;
      font-size: 2rem;
      font-style:normal;
      &:hover{
        font-style: italic;
      }
    }
    p{
      font-size: medium;
      &:hover{
        color:#922626;
      }
    }
  }
  div{
    text-align: center;
    padding: 2%;
    iframe{
      width: 50vw;
      height: 80vh;
    }
  }
  /* Map aplicado en los botones*/
  .votacion{
    justify-content: center;
    .btn {
      display: inline-block;
      padding: .5em;
      background: #ccc;
      color: #666;
       
      @each $name, $colores in $boton {
        $bgcolor: nth($colores, 1);
        $fontcolor: nth($colores, 2);
         
        &--#{$name} {
          background-color: $bgcolor;
          color: $fontcolor;
        }  
      }
    }
  }
}

