*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*variables para reutilizar*/
$fondo_color:#7eb6c5;
$colornav_stars:#228585;
$font_verdana: Verdana, Geneva, Tahoma, sans-serif;
$cinco: 5px;

/*mixin SASS*/
@mixin flex-centrado{
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin flex-wrap{
  display: flex;
  flex-wrap: wrap;
}
@mixin flex-nowrap {
  display: flex;
  flex-wrap: nowrap;
}
/* botones con map*/
$boton: (
  error: (#dd3535, #666),
  success: (#5dd055, #fff),
  warning: (#e1a449, #695757)
);
 
body{
  background-image: url('../assets/img/fondo.svg');
  background-repeat: no-repeat;
  background-size: cover;
}
/*importo hojas de estilo con sass*/
@import "stars";
@import "testimonios";
@import "ciudadRacoon";
@import "productos";
@import "nosotros";

/* Importacion de tipografia */
@font-face {
	font-family: 'Alumni Sans Pinstripe', sans-serif;
	src: url('../assets/font/AlumniSansPinstripe.ttf');
}
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&family=Alumni+Sans:wght@600&display=swap');

h1{
  font-family: 'Alumni Sans Pinstripe', sans-serif;
  font-size: 4.2rem;
  color: #ae2626;
  text-align: center;
  padding-top: 2%;
  animation-duration: 2s;
  animation-name: aparecer;
  animation-iteration-count:initial;
}
@keyframes aparecer {
  0% {
    opacity: 0;
    }
  50% {
      opacity: 1;
      }
  100% {
    opacity: 0;
      }
}
h4{
  font-family: $font_verdana;
  font-size: 1.2rem;
  color: black;
  text-align: center;
  /*Estilos para la animación*/
  margin: 0 0.5rem;
  animation-duration: 5s; /* don't forget to set a duration! */
}
.colorNavbar{
  background: #c7675e;
}
a {
  text-decoration: none;
  color: #ee9323;
}

.linea{
  margin-top: 2rem;
  padding: 1.5rem;
  border-top: solid 0.5px black;
  text-align: center;
  .textoFooter{
    display: inline;
    font-family: $font_verdana;
    font-size: 1rem;
    padding-top: 2rem;
  }
  .iconoRedes{
    width: 22px;
    height: 22px;
  }
}

@media only screen and (min-width:0px) and (max-width:576px){
  .testimonios{
    @include flex-nowrap;
    flex-direction: column;
    justify-content: center;
    .col{
      margin: .2rem;
      width: 75%;
      .imagenesTestimonios{
        width: 15vw;
        height: 10vh;
      }
    }
  }
  .estiloVideo{
    padding: 3rem;
    margin: 2.5rem;
    @include flex-wrap;
    .video{
      width: 60vw;
      height: 30vh;
    }
    .textoLateral{
      font-size: 1rem;
      @include flex-wrap;
      margin: 1rem;
      stars{
        font-size: 2rem;
        align-content: center;
        justify-content: center;
        text-align: center;
        color:#224085;
        background-color: #14dc8f;
        border-radius: 15px;
      }
    }
  }
  .boxImagenes{
    .imgCentro{
      width: 80vw;
      height: 40vh;
      margin: 0.5rem;
    }
  }
  .divForm{
    @include flex-wrap;
    flex-direction: column;
    .btnForm{
      margin: 1rem;
    }
  }
  .prod{
    margin: 1rem;
    @include flex-wrap;
    .productos1{
      @include flex-nowrap;
      flex-direction: column;
      justify-content: center;
      .col{
        margin: .5rem;
        img{
          width: 10vw;
          height: 5vh;
        }
        p{
          text-align: center;
          overflow: auto;
        }
      }
    }
    .productos2{
      @include flex-nowrap;
      flex-direction: column;
      .col{
        margin: .5rem;
        img{
          width: 10vw;
          height: 5vh;
        }
        p{
          text-align: center;
          overflow: auto;
        }
      }
    }
  }
  .listaGroup{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80vw;
    height: fit-content;
  }
}
@media only screen and (min-width:576px) and (max-width:768px){
  .testimonios{
    @include flex-nowrap;
    flex-direction: column;
    justify-content: center;
    .col{
      margin: 1rem;
      width: 75%;
      .imagenesTestimonios{
        width: 15vw;
        height: 10vh;
      }
    }
  }
  .estiloVideo{
    text-align: center;
    padding: .5rem;
    margin: 1.5rem;
    @include flex-wrap;
    justify-content: center;
    .video{
      width: 80vw;
      height: 35vh;
    }
    .textoLateral{
      font-size: 1.2rem;
      @include flex-wrap;
      .stars{
        font-size: 2rem;
        margin: 2rem;
        align-content: center;
        justify-content: center;
        text-align: center;
        color:#224085;
        background-color: #14dc8f;
        border-radius: 15px;
      }
    }
  }
  .boxImagenes{
    @include flex-wrap;
    flex-direction: column;
    .imgCentro{
      padding: .5rem;
      width: 80vw;
      height: 60vh;
    }
  }
  .divForm{
    @include flex-wrap;
    flex-direction: column;
    margin: 1.5rem;
    .btnForm{
      margin: 1rem;
    }
  }
  .prod{
    margin: 1rem;
    @include flex-wrap;
    .productos1{
      @include flex-nowrap;
      flex-direction: column;
      justify-content: center;
      .col{
        margin: .5rem;
        img{
          width: 20vw;
          height: 15vh;
        }
        p{
          text-align: center;
          overflow: auto;
        }
      }
    }
    .productos2{
      @include flex-nowrap;
      flex-direction: column;
      .col{
        margin: .5rem;
        img{
          width: 20vw;
          height: 15vh;
        }
        p{
          text-align: center;
          overflow: auto;
        }
      }
    }
  }
  .listaGroup{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80vw;
    height: fit-content;
  }
}