*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*variables para reutilizar*/
$fondo_color:#7eb6c5;
$colornav_stars:#228585;
$font_verdana: Verdana, Geneva, Tahoma, sans-serif;
$cinco: 5px;

/*mixin SASS*/
@mixin flex-centrado{
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin flex-wrap{
  display: flex;
  flex-wrap: wrap;
}
@mixin flex-nowrap {
  display: flex;
  flex-wrap: nowrap;
}
/* botones con map*/
$boton: (
  error: (#dd3535, #666),
  success: (#5dd055, #fff),
  warning: (#e1a449, #695757)
);
 
body{
  background-image: url('../assets/img/fondo.svg');
}
/*importo una hoja de estilo con sass*/
@import "stars";
/* Importacion de tipografia */
@font-face {
	font-family: 'Alumni Sans Pinstripe', sans-serif;
	src: url('../assets/font/AlumniSansPinstripe.ttf');
}
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&family=Alumni+Sans:wght@600&display=swap');

h1{
  font-family: 'Alumni Sans Pinstripe', sans-serif;
  font-size: 4.2rem;
  color: #ae2626;
  text-align: center;
  padding-top: 2%;
  animation-duration: 2s;
  animation-name: aparecer;
  animation-iteration-count:initial;
}
@keyframes aparecer {
  0% {
    opacity: 0;
    }
  50% {
      opacity: 1;
      }
  100% {
    opacity: 0;
      }
}
h4{
  font-family: $font_verdana;
  font-size: 1.2rem;
  color: black;
  text-align: center;
  /*Estilos para la animación*/
  margin: 0 0.5rem;
  animation-duration: 5s; /* don't forget to set a duration! */
}
.secciones{
  color: antiquewhite;
  text-decoration: none;
}
.colorNavbar{
  background: #c7675e;
}
a {
  text-decoration: none;
  color: #ee9323;
}
.boxImagenes{
  padding-top: 2%;
  padding-bottom: 3%;
  text-align: center;
}
section.textoInicial {
  transition: 2s;     
  &:hover{
    background-color: #e39c44;
  }  
}
.imagenesCentro{
  padding: $cinco;
  width: 30vw;
  height: 40vh;
  &:hover{
    transform: skew(5deg);
  }
}

.textoInicial{
  border: dashed 1px black; /* aplicar borde : estilo, grosor y color */
  font-family:$font_verdana; /*Otra tipografia/font */
	font-size: 1rem; /* tamaño de letra */
	overflow: hidden; /* ocultar excedente dado por el espacio que ocupa el contenido*/
  width: 100vw; /* ancho de tu div */
  @include flex-centrado;
}
p{
	text-align: center;
}
.linea{
  margin-top: 2rem;
  padding: 1.5rem;
  border-top: solid 0.5px black;
  text-align: center;
}
.textoFooter{
  display: inline;
  font-family: $font_verdana;
  font-size: 1rem;
  padding-top: 2rem;
}
.iconoRedes{
  width: 22px;
  height: 22px;
}
.texto{
  font-size: 1rem;
  padding: 5%;
  font-family: $font_verdana;
}
.estiloVideo{
  border: groove 1px white;
  padding: 3rem;
  @include flex-nowrap;
  justify-content: center;
  .video{
    width: 30vw;
    height: 32vh;
  }
  .textoLateral{
    width: 30vw;
    margin: 3rem;
    font-size: 1.2rem;
    @include flex-nowrap;
    border: dashed 1px black; 
  }
  a.stars{
    font-family: $font_verdana;
    font-size: 2rem;
    align-content: center;
    color:#224085;
    background-color: #14dc8f;
    border-radius: 15px;
    &:hover{
      color: #0000ff;
    }
  }
}
table{
  border: 2px solid black;
  text-align: center;
}
.imagenesTestimonios{
  width: 15vw;
  padding: 5%;
  height: 22vh;
}
.tablasCentradas{
  @include flex-centrado;
  padding-left: 4%;
}
.elementoCentrado{
  text-align: center;
}
.imagenenMediana{
  width: 400vw;
  height: 300vh;
  text-align: center;
}
.imagenesProductos{
  width: 100vw;
  padding: 15px 50px $cinco 50px;
  height: 100vh;
}
.listaDesordenada{
  list-style: square inside;
}
.listaGroup{
  width: 50%;
  padding: 5%;
}
.imgCentro{
  width: 30%;
  height: 25%;
  display: flexbox;
}
.col{
  float: left;
  padding: 10px;
  img{
    margin: 2%
  }
}
/*div centrado para usar extend*/
div{
  text-align: center;
  align-items: center;
  justify-content: center;
}
section.prod{
    @include flex-centrado;
    align-items: center;
    .col{
      @extend div;
    }
  }

@media only screen and (min-width:0px) and (max-width:576px){
  th{
    @include flex-wrap;
  }
  td{
    @include flex-wrap;
  }
  .tablasCentradas{
    @include flex-wrap;
  }
  .imagenesTestimonios{
    width: 28vw;
    height: 15vh;
  }
  .listMobile{
    @include flex-nowrap;
  }
  .estiloVideo{
    text-align: center;
    border: groove 0.5px white;
    padding: 3rem;
    margin: 5rem;
    @include flex-wrap;
    .video{
      width: 50vw;
      height: 20vh;
    }
    .textoLateral{
      font-size: 1.2rem;
      @include flex-nowrap;
    }
    a.stars{
      font-size: 2rem;
      align-content: center;
      color:#224085;
      background-color: #14dc8f;
      border-radius: 15px;
    }
  }
  .formCentrado{
    @include flex-wrap;
  }
  .imgCentro{
    width: 75%;
    height: 75%;
    margin: 5%;
    padding: 5rem;
  }
  .listaGroup{
    width: 100%;
  }
  .texto{
    text-align: center;
    width: auto;
  }
  section.prod{
    @include flex-nowrap;
    flex-direction: column;
    justify-content: center;
  }
}
@media only screen and (min-width:576px) and (max-width:768px){
  th{
    @include flex-wrap;
  }
  td{
    @include flex-wrap;
  }
  .tablasCentradas{
    @include flex-wrap;
  }
  .imagenesTestimonios{
    width: 28vw;
    height: 15vh;
  }
  .listMobile{
    @include flex-nowrap;
  }
  .estiloVideo{
    text-align: center;
    border: groove 0.5px white;
    padding: 3rem;
    margin: 5rem;
    display: flexbox;
    flex-wrap: wrap;
    .video{
      width: 50vw;
      height: 20vh;
    }
    .textoLateral{
      font-size: 1.2rem;
    }
    a.stars{
      font-size: 2rem;
      align-content: center;
      color:#224085;
      background-color: #14dc8f;
      border-radius: 15px;
    }
  }
  .formCentrado{
    @include flex-wrap;
  }
  .imgCentro{
    width: 75%;
    height: 75%;
  }
  .listaGroup{
    width: 75%;
  }
  .imgTablas{
    width: 50%;
  }
  .texto{
    text-align: center;
    width: auto;
  }
  .listaGroup{
    width: 75%;
  }
  .col{
    float: none;
    padding: 10px;
  }
  .col{
    img{
      margin: 2%;
    } 
  } 
  section.prod{
    display: grid;
    grid-template-columns: 1fr 1fr;  
    grid-row: repeat(4 1fr);
    gap: $cinco;
    grid-template-areas: 
    "col col"
    "col col";
    justify-content: center;
    align-items: center;
  }
  
}