*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-image: url('../img/fondo.svg');
}
/* Importacion de tipografia */
@font-face {
	font-family: 'Alumni Sans Pinstripe', sans-serif;
	src: url('../assets/font/AlumniSansPinstripe.ttf');
}
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&family=Alumni+Sans:wght@600&display=swap');

h1{
  font-family: 'Alumni Sans Pinstripe', sans-serif;
  font-size: 4.2rem;
  color: #ae2626;
  text-align: center;
  padding-top: 2%;
  animation-duration: 2s;
  animation-name: aparecer;
  animation-iteration-count:initial;
}
@keyframes aparecer {
  0% {
    opacity: 0;
    }
  50% {
      opacity: 1;
      }
  100% {
    opacity: 0;
      }
}
h4{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2rem;
  color: black;
  text-align: center;
  /*Estilos para la animación*/
  margin: 0 0.5rem;
  animation-duration: 5s; /* don't forget to set a duration! */
}
.secciones{
  color: antiquewhite;
  text-decoration: none;
}
.colorNavbar{
  background: #c7675e;
}
a {
  text-decoration: none;
  color: #ee9323;
}
.boxImagenes{
  padding-top: 2%;
  padding-bottom: 3%;
  text-align: center;
}
section.textoInicial {
  transition: 2s;       
}
section.textoInicial:hover {
  background-color: #e39c44;
}
.imagenesCentro{
  padding: 5px;
  width: 30vw;
  height: 40vh;
}
img.imagenesCentro:hover{
  transform: skew(5deg);;
 
}
.textoInicial{
  border: dashed 1px black; /* aplicar borde : estilo, grosor y color */
  font-family:Verdana, Geneva, Tahoma, sans-serif; /*Otra tipografia/font */
	font-size: 1rem; /* tamaño de letra */
	overflow: hidden; /* ocultar excedente dado por el espacio que ocupa el contenido*/
  width: 100vw; /* ancho de tu div */
  display: flex;
  align-items: center;
  justify-content: center;
}
p{
	text-align: center;
}
.linea{
  margin-top: 25px;
  padding: 10px;
  border-top: solid 0.5px black;
  text-align: center;
}
.textoFooter{
  display: inline;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  padding-top: 2px;
}
.iconoRedes{
  width: 22px;
  height: 22px;
}
.texto{
  font-size: 1rem;
  padding: 30px 200px 30px 200px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.estiloVideo{
  text-align: center;
  border: groove 0.5px white;
  padding: 30px;
  margin: 50px;
  display: inline-block;
}
.textoLateral{
  padding: 10px 20px 30px 10px;
  font-style: normal;
  font-size: 0.9rem;
  display: inline;

}
table{
  border: 2px solid black;
  text-align: center;
}
.imagenesTestimonios{
  width: 15vw;
  padding: 5%;
  height: 22vh;
}
.tablasCentradas{
  display: flex;
  padding-left: 4%;
}
.elementoCentrado{
  text-align: center;
}
.imagenenMediana{
  width: 400vw;
  height: 300vh;
  text-align: center;
}
.imagenesProductos{
  width: 100vw;
  padding: 15px 50px 5px 50px;
  height: 100vh;
}
.listaDesordenada{
  list-style: square inside;
}
.video{
  width: 560px;
  height: 315px;
}
.listaGroup{
  width: 25%;
}
.imgTablas{
  width: 75%;
  height: 50%;
}
@media only screen and (min-width: 0px) and (max-width:767px){
  th{
    display: flex;
    flex-wrap: wrap;
  }
  td{
    display: flex;
    flex-wrap: wrap;
  }
  .tablasCentradas{
    display: flex;
    flex-wrap: wrap;
  }
  .imagenesTestimonios{
    width: 28vw;
    height: 15vh;
  }
  .listMobile{
    display: flex;
    flex-wrap: nowrap;
  }
  .video{
    width: 50vw;
    height: 20vh;
  }
  .formCentrado{
    display: flex;
    flex-wrap: wrap;
  }
  .imgCentro{
    width: 75%;
    height: 75%;
  }
  .listaGroup{
    width: 100%;
  }
  .imgTablas{
    width: 50%;
  }
}